
 *{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	list-style: none;
	text-decoration: none;
 }
 body{
	color:palevioletred;
	background: rgb(255, 255, 255);
 }

 .navegacao {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 17px 35px;
	width: 100%;
	background: rgb(255, 255, 255);
	transition: all 0.5s;
	position: fixed;

 }
 .navegacao .logo img{
	width: 80px;

 }
 .navegacao ul{
	display: flex;
	align-items: center;
	gap: 5rem;
 }

 .navegacao ul li a{
	color:rgb(140, 76, 157);
	font-size: 17px;
	font-weight: 500;
	transition: all 0.5s;
 }
 .navegacao ul li a:hover{
	color: rgb(24, 230, 226);
 }

 .navegacao .nav-btn{
	border: 2px solid palevioletred;
	padding: 10px;
	border-radius: 15px;
}
.nav-btn:hover{
	background-color: rgb(224, 113, 222);
	transition: all 0.5s;

}
 .menu{
	cursor: pointer;
 }
 .home{
	width: 100%;
	height: 70vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 10% ;
	flex-direction: row;
	
 }
 .home text{
	max-width: 37rem;
 }
 .hometext .text-h1{
	color:black;
	font-size: 3rem;
	margin-bottom: 1rem;
	line-height: 4rem;
 }

 .hometext p{
	margin-bottom: 4rem;
	color:rgb(0, 0, 0);
 }

img{
	width: 500px;
	margin-top:  10px ;


}
 .container{
	width: 100%;
	background-color: rgb(255, 255, 255);
	align-items:flex-end ;
	justify-content: space-between;
	padding: 0px 10% ;
	display: block;
	margin-top: 50px;
 }
 .container p {
	font-size: 25px;
	color:black;
	margin: 20px;

 }

 .container .row {
	display:flex;
	justify-content: space-between;
	align-items: center;

  }
  .container .card {
	border-radius: 5px;
	box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
	padding: 30px;
	margin: 20px;
	width: 30;
	transition: all 0.3s ease-out;
  }
  .container .card:hover {
	transform: translateY(-5px);
	cursor: pointer;
  }
   
  .container  .card p {
	color: #a3a5ae;
	font-size: 16px;
  }
  .container  .blue {
	border-left: 10px solid #00A19D;
  }
   
  .container .green {
	border-left: 10px solid #FFB344;
  }
   
  .container .red {
	border-left: 10px solid #E05D5D;
  }

 footer{
background-color: #E86A33;
/*position:absolute;*/
bottom: 0;
width: 100%;
height: 2.5rem;
color:aliceblue;
text-align: center;
font-size: 1em;
padding: 10px;
}

